.react-calendar{
    width: 300px !important;
}

.react-calendar__year-view .react-calendar__tile, .react-calendar__decade-view .react-calendar__tile, .react-calendar__century-view .react-calendar__tile{
    padding: 1rem !important;
}
.react-calendar__tile:enabled:hover, .react-calendar__tile:enabled:focus{
    background-color: #f3f3f3 !important; 
}