body {
  margin: 0;
  font-family: 'Inter', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Inter', sans-serif !important;
}

.otpinput{
  width:2rem;
  height: 2rem;
  text-align: center;
  border-radius: 5px;
}
.react-tel-input .form-control{
  width:100% !important;
}
::-webkit-scrollbar {
  width: 4px; /* Adjust the width as needed */
}

/* WebKit (Chrome, Safari, Opera) */
::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners */
}

/* Mozilla Firefox */
::-moz-scrollbar {
  width: 4px; /* Adjust the width as needed */
}

/* Mozilla Firefox */
::-moz-scrollbar-thumb {
  background-color: #ccc; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners */
}

.underlined {
  position: relative;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.underlined:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%; /* Center the underline */
  transform: translateX(-50%); /* Move the underline back by half of its width */
  height: 7px;
  width: 50px;
  border: solid 3px #FEB853;
  border-color: #FEB853 transparent transparent transparent;
  border-radius: 50% 50% 0 0;
}

.pdfCard .react-pdf__Page__canvas{
  width: 80% !important;
  height: auto !important;
  margin: 10% !important;
  border-width: 1px;
  border-style: solid;
  }
  .pdfCard{
      cursor: pointer;
      background-color: #E6E6E6 !important
      ;
  }
  .Example__container__document .react-pdf__Document{
      box-shadow: 10px 10px 20px #aaaaaa;
  }
  .pdfCard .react-pdf__Page{
background-color: #E6E6E6 !important;
  }


